<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Quirós Online | Backroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="theme-color" content="#de822b">

    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="static/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="static/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="static/favicon/manifest.json">

    <link rel="stylesheet" href="static/css/main.css">
</head>
