<div class='partials-login'>
    <h3>Registered User</h3>
    <p class="intro">Welcome back! Please sign in with your credentials.</p>

    <form id="login-form" method="post" action="{{login_url}}">
        <div class='error'>{{error}}</div>

        <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" class="form-control" name="login-username" id="login-username">
        </div>
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" class="form-control" name="login-password" id="login-password">
        </div>
        <input class="btn btn-primary" type='submit' value="Sign In" />
    </form>
</div>
