body {
    background-color: $content-bg;

    &.internal {
        .navbar > .container-fluid {
            margin-top: 7px;
        }
    }
}

header {
    dt {
        font-weight: normal;
    }
}
