/* ============================================================
   Page footer where the copyright text goes
   ============================================================ */
footer {
    background-color: $footer-gray;
    border-top: 1px solid $subtle-gray;
    text-align: right;
    padding: 20px;
    font-size: 0.8em;

    p {
        margin: 0 0 0.2em;
        color: $subtle-white;

        &:first-of-type {
            margin-bottom: 5px;
        }

        &.license {
            font-size: 0.6em;
        }
    }

    a {
        text-decoration: none;
        color: $primary-orange;

        &:hover {
            color: $primary-red;
            text-decoration: underline;
        }
    }
    @media only screen and (min-width: 620px) {
        padding: 20px 30px;
    }
    @media only screen and (min-width: 1024px) {
        padding: 15px 30px;
        z-index: 0;
    }
}
