#blog-home {
    .post-container {
        $vertical-padding: 15px;

        padding: $vertical-padding 0;
        position: relative;

        @media only screen and (min-width: $screen-md) {
            padding-right: 6vw;
        }

        .edit.btn {
            position: absolute;
            top: $vertical-padding - 5px;
            left: 0;
            z-index: 1;
        }
    }
}

#new-post {
    h1 {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    textarea {
        height: 12em;
        resize: vertical;
    }
}

#read-post {
    margin: 30px 0;

    .blog-post {
        .post-title {
            font-size: 1.6em;
            margin-left: 0;
        }
    }
}

#delete-post {
    .modal {
        display: block;
    }
}
