<div class="post-comment">
    <div class='row'>
        <div class="comment-heading col-sm-3">
            <span class="comment-by">Posted by {{c._username}}</span>
            <span class="comment-date">On {{c.created.strftime("%b %d, %Y")}}</span>

            {% block comment_actions %} {% endblock %}
        </div>

        <div class='comment-content col-sm-9'>
            <q>
                {{c._render_text | safe}}
            </q>
            {% block comment_forms %} {% endblock %}
        </div>
    </div>
</div>
