{% extends "layout/internal.html" %}

{% block navigation %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="btn btn-primary" href="{{ uri_for(blog_routes.ROUTE_INDEX) }}">View All Posts</a>
        <a class="btn btn-primary" href="{{ uri_for(blog_routes.ROUTE_EDIT_POST, post_id=post.key.id()) }}">Edit Post</a>
        <a class="btn logout pull-right" href="{{ uri_for(auth_routes.ROUTE_LOGOUT) }}">Logout</a>
    </div>
</nav>
{% endblock %}

{% block main_content %}
    <div id='read-post' class="container">

        {{post.render() | safe}}

        <!-- list of comments and form to post a new comment -->
        {% include 'partials/comments.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/main.js"></script>
{% endblock %}
